.container-fluid {
    padding-left:  clamp(1rem, 5vw, 14rem) !important;
    padding-right: clamp(1rem, 5vw, 14rem) !important;
}

.table {
    width: auto !important;
}

.table-section .table {
    width: 100% !important;
}

caption {
    caption-side: top;
    text-align: left;
    font-size: 1.75rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    color: #212529;
}

.table-section {
    width: fit-content;
    margin: 0 auto;
}
